@charset "UTF-8";

/* ------------------------------------------------------------------------------------------------------------------------
Noto Sans KR
------------------------------------------------------------------------------------------------------------------------ */
@font-face {
    font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
    src: url(./font/NotoSansKR/NotoSansKR-Thin.eot); /*IE9 호환성 보기*/
    src: url(./font/NotoSansKR/NotoSansKR-Thin.eot?#iefix) format('embedded-opentype'), /*IE 6-8*/
         url(./font/NotoSansKR/NotoSansKR-Thin.woff) format('woff'), /*표준 브라우저*/
		 url(./font/NotoSansKR/NotoSansKR-Thin.woff2) format('woff2'), /* WOFF2 지원 브라우저 */
		 url(./font/NotoSansKR/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
    src: url(./font/NotoSansKR/NotoSansKR-Light.eot); /*IE9 호환성 보기*/
    src: url(./font/NotoSansKR/NotoSansKR-Light.eot?#iefix) format('embedded-opentype'), /*IE 6-8*/
         url(./font/NotoSansKR/NotoSansKR-Light.woff) format('woff'), /*표준 브라우저*/
		 url(./font/NotoSansKR/NotoSansKR-Light.woff2) format('woff2'), /* WOFF2 지원 브라우저 */
		 url(./font/NotoSansKR/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 350;
    src: url(./font/NotoSansKR/NotoSansKR-DemiLight.eot); /*IE9 호환성 보기*/
    src: url(./font/NotoSansKR/NotoSansKR-DemiLight.eot?#iefix) format('embedded-opentype'), /*IE 6-8*/
         url(./font/NotoSansKR/NotoSansKR-DemiLight.woff) format('woff'), /*표준 브라우저*/
		 url(./font/NotoSansKR/NotoSansKR-DemiLight.woff2) format('woff2'), /* WOFF2 지원 브라우저 */
		 url(./font/NotoSansKR/NotoSansKR-DemiLight.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
    src: url(./font/NotoSansKR/NotoSansKR-Regular.eot); /*IE9 호환성 보기*/
    src: url(./font/NotoSansKR/NotoSansKR-Regular.eot?#iefix) format('embedded-opentype'), /*IE 6-8*/
         url(./font/NotoSansKR/NotoSansKR-Regular.woff) format('woff'), /*표준 브라우저*/
		 url(./font/NotoSansKR/NotoSansKR-Regular.woff2) format('woff2'), /* WOFF2 지원 브라우저 */
		 url(./font/NotoSansKR/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
    src: url(./font/NotoSansKR/NotoSansKR-Medium.eot); /*IE9 호환성 보기*/
    src: url(./font/NotoSansKR/NotoSansKR-Medium.eot?#iefix) format('embedded-opentype'), /*IE 6-8*/
         url(./font/NotoSansKR/NotoSansKR-Medium.woff) format('woff'), /*표준 브라우저*/
		 url(./font/NotoSansKR/NotoSansKR-Medium.woff2) format('woff2'), /* WOFF2 지원 브라우저 */
		 url(./font/NotoSansKR/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
    src: url(./font/NotoSansKR/NotoSansKR-Bold.eot); /*IE9 호환성 보기*/
    src: url(./font/NotoSansKR/NotoSansKR-Bold.eot?#iefix) format('embedded-opentype'), /*IE 6-8*/
         url(./font/NotoSansKR/NotoSansKR-Bold.woff) format('woff'), /*표준 브라우저*/
		 url(./font/NotoSansKR/NotoSansKR-Bold.woff2) format('woff2'), /* WOFF2 지원 브라우저 */
		 url(./font/NotoSansKR/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 900;
	src: url(./font/NotoSansKR/NotoSansKR-Black.eot); /*IE9 호환성 보기*/
	src: url(./font/NotoSansKR/NotoSansKR-Black.eot?#iefix) format('embedded-opentype'), /*IE 6-8*/
		 url(./font/NotoSansKR/NotoSansKR-Black.woff) format('woff'), /*표준 브라우저*/
		 url(./font/NotoSansKR/NotoSansKR-Black.woff2) format('woff2'), /* WOFF2 지원 브라우저 */
		 url(./font/NotoSansKR/NotoSansKR-Black.otf) format('opentype');
}

/* ------------------------------------------------------------------------------------------------------------------------
YangPyeong
------------------------------------------------------------------------------------------------------------------------ */
@font-face {
	font-family: 'YangPyeong';
	font-style: normal;
	font-weight: 300;
	src: url(./font/YangPyeong/yangpyeong_L.eot); /*IE9 호환성 보기*/
	src: url(./font/YangPyeong/yangpyeong_L.eot?#iefix) format('embedded-opentype'), /*IE 6-8*/
		 url(./font/YangPyeong/yangpyeong_L.woff) format('woff'), /*표준 브라우저*/
		 url(./font/YangPyeong/yangpyeong_L.woff2) format('woff2'), /* WOFF2 지원 브라우저 */
		 url(./font/YangPyeong/yangpyeong_L.otf) format('opentype');
}

@font-face {
	font-family: 'YangPyeong';
	font-style: normal;
	font-weight: 500;
	src: url(./font/YangPyeong/yangpyeong_M.eot); /*IE9 호환성 보기*/
	src: url(./font/YangPyeong/yangpyeong_M.eot?#iefix) format('embedded-opentype'), /*IE 6-8*/
		 url(./font/YangPyeong/yangpyeong_M.woff) format('woff'), /*표준 브라우저*/
		 url(./font/YangPyeong/yangpyeong_M.woff2) format('woff2'), /* WOFF2 지원 브라우저 */
		 url(./font/YangPyeong/yangpyeong_M.otf) format('opentype');
}

@font-face {
	font-family: 'YangPyeong';
	font-style: normal;
	font-weight: 700;
	src: url(./font/YangPyeong/yangpyeong_B.eot); /*IE9 호환성 보기*/
	src: url(./font/YangPyeong/yangpyeong_B.eot?#iefix) format('embedded-opentype'), /*IE 6-8*/
		 url(./font/YangPyeong/yangpyeong_B.woff) format('woff'), /*표준 브라우저*/
		 url(./font/YangPyeong/yangpyeong_B.woff2) format('woff2'), /* WOFF2 지원 브라우저 */
		 url(./font/YangPyeong/yangpyeong_B.otf) format('opentype');
}

/* ------------------------------------------------------------------------------------------------------------------------
HaNamDaum
------------------------------------------------------------------------------------------------------------------------ */
@font-face {
    font-family: 'HaNamDaum';
	font-style: normal;
	font-weight: 400;
    src: url(./font/HaNamDaum/HANAMDAUM.eot); /*IE9 호환성 보기*/
    src: url(./font/HaNamDaum/HANAMDAUM.eot?#iefix) format('embedded-opentype'), /*IE 6-8*/
         url(./font/HaNamDaum/HANAMDAUM.woff) format('woff'), /*표준 브라우저*/
		 url(./font/HaNamDaum/HANAMDAUM.woff2) format('woff2'), /* WOFF2 지원 브라우저 */
		 url(./font/HaNamDaum/HANAMDAUM.otf) format('opentype');
}
